
	.top {
		padding: 10em 0 10em 0;
		text-align: left;
	}

		.top .image {
			border-radius: 100%;
			width: 20em;
			height: 20em;
			margin: 0;
		}

			.top .image img {
				border-radius: 100%;
			}

		.top h1 {
			margin-top: 0.35em;
		}

		.top p {
			font-size: 1.5em;
			line-height: 1.75em;
		}

			.top p a {
				color: inherit;
			}

/* Wrappers */

.wrapper {
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 8em 0 8em 0;
    text-align: center;
}

    .wrapper.style1 {
        background-image: none;
        background-color: #fff;
    }

/* Container */

.container {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 1200px;
}

    .container.medium {
        width: 900px;
    }

    .col-4 {
        max-height: 1200px;
    }

    @media screen and (max-width: 1680px) {

        .container {
            width: 1200px;
        }

            .container.medium {
                width: 900px;
            }

    }

    @media screen and (max-width: 1280px) {

        .container {
            width: 960px;
        }

            .container.medium {
                width: 720px;
            }

    }

    @media screen and (max-width: 980px) {

        .container {
            width: 100%;
        }

            .container.medium {
                width: 75%;
            }

    }

    @media screen and (max-width: 736px) {

        .container {
            width: 100%;
            max-width: calc(100% - 30px);
        }

            .container.medium {
                width: 100%;
            }

    }

    .row > .col-5-large {
        width: 41.66667%;
    }

    .row > .col-12-medium {
        width: 100%;
    }

/* Image */


.image {
    display: inline-block;
    position: relative;
    object-fit: cover;
}

    .image img {
        display: block;
        width: 100%;
    }

    .image.fit {
        display: block;
        width: 100%;
    }

    .image.fit img {
        width: 100%;
    }