
.wholeSectionTwo {
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 8em 8em 0;
    text-align: center;
}

.image.fit {
    display: block;
    width: 100%;
}

.drumkit {
    height: 290px;
    width: 100%;
}