
.header {
    text-align: center;
    font-size: 45px;
    margin-top: 2rem;
}

.list {
    list-style: none;
    text-align: center;
    font-size: 32px;
    margin-top: 4rem;
}

.centerImage {
    display: flex;
    justify-content: center;
}

