
.skills-container {
    display: flex;
    width: 200px;
    height: 120px;
    justify-content: center;
}




.skills-container {
    width: 80%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;







