
.skills-container {
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

.html {
    width: 93px;
    height: 90px;
}

.skills-container-two {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    position: relative;
    bottom: 250px;
}

.skills-container img{
    max-width: 250px;
    height: 100px;
}

.skills-container-two img {
    max-width: 300px;
    height: 130px;
}

@media only screen and (max-width: 768px) {
    .header {
        position: relative;
        left: 400px;
    }
}



