.main-container {
    display: flex;
}

.others {
    flex: 4;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.open {
    display: none;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
} 