
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.main-grid-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2px;
    background-color: #141414;
    margin: 0;
}

.card {
    color: white;
    text-align: center;
}

.project-description {
    color: white;
    font-size: 0.9rem;
}

.tech-stack {
    color: white;
    font-size: 1.2rem;
}

ul li {
    list-style: none;
}

/* Main-grid-two */

.main-grid-two {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: #141414;
}

@media screen and (max-width: 1024px) {
    .project-description {
        font-size: 0.7rem;
    }

    .tech-stack {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 768px) {

    .header {
        text-align: center;
    }

    .main-grid-one {
        display: flex;
        flex-direction: column;
        padding: 0 2px;
        background-color: #141414;
        margin: 0;
    }

    .card {
        text-align: center;
        margin: 1rem auto;
    }

    .project-description {
        color: white;
        text-align: center;
        margin-top: 1rem;
    }

    .tech-stack {
        margin: 1rem auto;
        position: relative;
    }

    ul {
        list-style-type: none;
        text-align: center;
    }

    /* Main-grid-two */

    .main-grid-two {
        display: flex;
        flex-direction: column;
        padding: 0 2px;
        background-color: #141414;
        margin: 0;
    }

    hr {
        width: 20vw;
        margin: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    
    .header {
        text-align: center;
    }

    .main-grid-one {
        display: flex;
        flex-wrap: wrap;
        padding: 0 2px;
        background-color: #141414;
        margin: auto;
        width: 95vw;
    }

    .card {
        text-align: center;
        margin: 1rem auto;
        width: 100%;
        border-radius: 1rem;
    }

    hr {
        width: 20vw;
        background-color: crimson;
        margin: auto;
        margin-bottom: 1rem;
    }

    .project-description {
        color: white;
        text-align: center;
    }

    .tech-stack {
        margin: 1rem auto;
    }

    ul {
        list-style: none;
        text-align: center;
    }

    /* Main-grid-two */

    .main-grid-two {
        display: flex;
        flex-direction: column;
        background-color: #141414;
        width: 95vw;
        margin: auto;
    }
}


