
.footer-container {
    background-color: #5288a4;
    padding: 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    height: 400px;
}

.logoImage {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90px;
    height: 90px;
    border-radius: 90%;
}

.email {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
}

.footer-link-items {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    position: relative;
    top: 65px;
}

.footer-link-items a {
    text-decoration: none;
}

.footer-link-items a:hover {
    opacity: 0.3;
    transition: fill 0.25s;
}

.social-icon-link {
    color: #fff;
    font-size: 24px;
}

.fab {
    color: #F1E5AC;
    position: relative;
    text-decoration: none;
}

.social-media-icons {
    position: relative;
    bottom: 23px;
    display: flex;
}

h2 {
    color: #fff;
}

.copyright {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2em;
}


/* Media Queries */
@media only screen and (max-width: 768px) {
    .footer-container {
        height: 400px;
        position: relative;
        top: 30rem;
    }
}




