
.close {
    background: #E0E0E0;
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    border-radius: 10%;
}

.close:before {
    content: '';
    height: 30px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 14px;
}

.close:after {
    content: '';
    height: 30px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 14px;
}

.close:hover {
    background-color: red;
}



@media screen and (max-width: 768px) {

    .cardTitle {
        position: relative;
        left: 2rem;
    }
}




@media screen and (max-width: 320px) {

    .trafficTitle {
        position: relative;
        left: 1rem;
    }

    .close::before {
        position: relative;
        left: 4rem;
    }

    .close:after {
        position: relative;
        left: 4rem;
    }
}


